/*container-fluid*/
.container-fluid {
  padding: 0;
  margin: 0;
}

/*page*/
#page {
  width: 100%;
  height: 100%;
}

/*left*/
#left {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: #f8f8f8;
}

/*kinds*/
#kinds {
  text-align: center;
  width: 100%;
  height: auto;
}

/*kind*/
.kind {
  width: 100%;
  height: auto;
}

.kind img {
  margin-top: 20%;
}

.kind p {
  text-align: center;
}

/*right*/
#right {
  position: fixed;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: scroll;
}

/*food*/
.food {
  padding: .1em;
  text-align: center;
}

.food-img img {
  width: 100%;
  height: 100%;
}

.food .col-xs-6 {
  padding: .3em;
}

.food-info {
  margin-top: 1em;
}

.food-info > p {
  text-align: center;
}

.money-f {
  color: red;
  margin: 0;
}

.money-n {
  color: red;
  font-size: 3rem;
}

.money-l {
  font-size: 2rem;
}

.food-number {
  text-align: center;
}

.food-number b {
  font-size: 2rem;
}

/*bottom*/
#bottom-left {
  height: 6em;
}

#bottom-right {
  height: 6em;
}

/*footer*/
#footer {
}

#footer img {
  width: 100%;
  height: auto;
}
