/*container-fluid*/
.container-fluid {
  padding: 0;
  margin: 0;
}

/*page*/
#page {
  width: 100%;
  height: 100%;
}

/*left*/
#left {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  background-color: #f8f8f8;
}

/*kinds*/
#kinds {
  text-align: center;
  width: 100%;
  height: auto;
}

/*kind*/
.kind {
  width: 100%;
  height: auto;
}

.kind img {
  margin-top: 20%;
}

.kind p {
  text-align: center;
}

/*right*/
#right {
  position: fixed;
  width: 80%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: scroll;
}

/*food*/
.food {
  padding: .1em;
}

/*food-box*/
.food-box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

/*food-img*/
.food-img {
  width: 50%;
}

.food-img > img {
  width: 100%;
  height: 100%;
}

/*food-info*/
.food-info {
  width: 50%;
  text-align: center;
}

.food-info > b {
  font-size: 1.5em;
}

.money-f {
  color: red;
  margin: 0;
}

.money-n {
  color: red;
  font-size: 2.5em;
}

.money-l {
  font-size: 1em;
}

.food-number {
  justify-content: center;
}

.food-number > img {
  margin-left: 2em;
  margin-right: 2em;
}

.food-number > b {
  font-size: 1.5em;
}

.food-number-over {
  font-size: 1.5em;
  color: #dddddd;
  text-align: right;
}

/*bottom*/
#bottom-left {
  height: 6em;
}

#bottom-right {
  height: 6em;
}

/*footer*/
#footer {
}

#footer img {
  width: 100%;
  height: auto;
}
