/*container-fluid*/
.container-fluid {
  padding: 0;
  margin: 0;
}

/*page*/
#page {
  width: 100%;
  height: 100%;
}

#left {
  position: fixed;
  width: 20%;
  left: 0;
  top: 0;
}

#right {
  position: fixed;
  width: 80%;
  right: 0;
  top: 0;
}

.col-xs-2 img {
  margin-top: 30px;
}

.zt .col-xs-3 {
  padding: 0;
}

.zt .container-fluid {
  padding: 0;
}

#kinds {
  background-color: #f8f8f8;
  width: 100%;
  height: auto;
}

.box-1 {
  width: 100%;
}

.box-1 img {
  margin-top: 20%;
}

.box-1 p {
  text-align: center;
}

.kind {
  margin-top: 5%;
}

.col-xs-6 {
  padding-left: 0;
}

.col-xs-6 img {
  width: 100%;
  height: auto;
}

.money {
  text-align: right;
}

.money-f {
  color: red;
  margin-bottom: 0;
}

.money-n {
  font-size: 30px;
  color: red;
}

.money-l {: right;
}

.money-l img {
  width: 40%;
  /*margin-top: -50%;*/
}

.number {
  /*margin-top: -20%;*/
}

.number-over {
  font-size: 25px;
  color: #dddddd;
  text-align: right;
}

/*footer*/
#footer img {
  width: 100%;
  height: auto;
}
