
.chk img {
  width: 100%;
  height: auto;
}
.form-group {
  margin-top: 15px;
}
.input-group {
  display: block;
}

.col-xs-8 {
  padding: 0;
}
.col-xs-4 {
  padding-left: 2%;
  padding-right: 0;
}

.form-control {
  padding:0;
}

.row-phone {
  margin-left: 0;
  margin-right: 0;
}

.btn-default {
  width:100%;
}

.form-control {
  text-align: center;
}