#exchange-bg {
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  height: 100%;
}
.table > tbody > tr > th {
  vertical-align: middle;
  height: 50px;
  text-align: center;
}

tr {
  text-align: center;
}
td {
  color: #9d9d9d;
}
.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 1px ridge #e8e8e8;
}

.result{
  color: #4cae4c;
}
.btn {
  padding: 0;
}
