#settle-bg {
  background-color: #f8f8f8;
}

.box {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.dining {
  display: block;
}

.dining p {
  white-space: nowrap;
}

.dining img {
  width: 100%;
  height: auto;
}

.box-w {
  color: red;
}

.box-variety {
  width: 100%;
  display: block;
}

.variety {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.variety > p {
  margin: 0;
  padding: 0;
}

.input-group {
  width: 40%;
}

.box-1 {
  background-color: white;

}

.middle {
  border-top: #cccccc 1px solid;
  border-bottom: #cccccc 1px solid;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;

}
